@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000; /* black background */
}

#root {
  max-width: none; /* remove Vite's default constraint */
}
